.main-nav {
  background-color: #ffffff;
}

.main-header__logo-link {
  position: relative;
  display: block;
}

.main-header__logo-image {
  position: absolute;
  transform: translateX(-93px);
  margin-left: 50%;
  z-index: 1;
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__item-link {
  text-decoration: none;
}
