.main-footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
}

.social__item {
  text-align: center;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social__link-img {
  transform: translateY(12px);
}

.main-footer__copyright {
  padding-right: 96px;
  padding-left: 96px;
  padding-bottom: 23px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 36px;
    padding-right: 76px;
    padding-left: 45px;
  }

  .main-footer__tag {
    padding: 0;
    padding-top: 14px;
    padding-right: 97px;
    width: 166px;
  }

  .main-footer__social {
    padding: 0;
    padding-bottom: 0;
    width: 156px;
    padding-right: 99px;
  }

  .main-footer__copyright {
    padding: 0;
    padding-top: 7px;
    width: 129px;
  }
}
