.catalog-intro,
.review-intro {
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}

.catalog-intro__title,
.review-intro__title {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 37px;
}

.catalog-intro__tagline,
.review-intro__tagline {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 25px;
}

.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-item {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid #e5e5e5;
}

.user-item__picture {
  display: block;
  width: 100%;
  height: auto;
}

.user-label__title {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 10px;
}

.user-label__author {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 16px;
}

.user-likes {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-left: 35px;
  padding-bottom: 25px;
}

.user-likes-wrapper {
  position: relative;
}

.user-likes::before {
  position: absolute;
  content: " ";
  top: -6px;
  left: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/like-icon.svg");
}

.catalog-video {
  padding-left: 26px;
  padding-right: 26px;
  border-top: 1px solid #e5e5e5;
}

.catalog-video__title {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 38px;
}

.catalog-video__tagline {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 38px;
}

.catalog-video__presentation {
  display: block;
  width: 100%;
  height: auto;
}
