.sedona {
  height: 214px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 0;
  background: url("../img/intro-triangle.svg") repeat-x 0 157px, url("../img/back-mobile-catalog.svg") no-repeat;
}

.sedona__img {
  padding-top: 52px;
}
