.sedona {
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 60px;
  background: url("../img/intro-triangle.svg") repeat-x 0 bottom, url("../img/back-mobile-catalog.png") no-repeat;
  background-size: 100% 57px, cover;
}

.sedona__img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 52px;
}
