.welcome {
  height: 389px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 0;
  background: url("../img/intro-triangle.svg") repeat-x 0 332px, url("../img/back-mobile.svg") no-repeat;
}

.welcome__img {
  padding-top: 90px;
}
